@model MarelibuSoft.WebStore.Models.ViewModels.WeHaveYourOrderViewModel

@{
	ViewData["Title"] = "Auftrag erhalten";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
	@Html.Raw(Model.OrderThankYou)
	<hr />
    <div class="row">
        <div class="col-xs-12">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.OrderNo)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrderNo)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OrderDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrderDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.FreeText)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FreeText)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OrderTotal)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrderTotal)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OrderPaymend)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrderPaymend)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OrderShippingPeriod)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrderShippingPeriod)
                </dd>
                @if (Model.Bank != null)
                {
                    <h4>Bankverbindung</h4>
                    <dt>
                        @Html.DisplayNameFor(model => model.Bank.AccountOwner)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Bank.AccountOwner)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Bank.Institute)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Bank.Institute)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Bank.Iban)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Bank.Iban)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Bank.SwiftBic)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Bank.SwiftBic)
                    </dd>
                }
            </dl>
        </div>
    </div>
	
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            Position
                        </th>
                        <th>
                            Artikel Nr.
                        </th>
                        <th>
                            Artikelname
                        </th>
                        <th>
                            Menge
                        </th>
                        <th>
                            Preis in &euro;
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderLines)
                    {
                        <tr>
                            <td><img src="~/images/store/@item.ImagePath" width="50" height="50" /></td>
                            <td>@item.Position</td>
                            <td>@item.ProductNumber</td>
                            <td>@item.ProductName</td>
                            <td>@item.Quantity @item.ProductUnit</td>
                            <td>@item.Price</td>
                        </tr>
                        if (item.TextOptionsList != null)
                        {
                            foreach (var txt in item.TextOptionsList)
                            {
                                <tr>
                                    <td></td>
                                    <td colspan="2">Text: </td>
                                    <td colspan="3">@txt.Text</td>
                                </tr>
                            }
                        }
                        if (item.VariantList != null)
                        {
                            foreach (var variant in item.VariantList)
                            {
                                <tr>
                                    <td></td>
                                    <td colspan="2">@variant.VariantName:</td>
                                    <td colspan="3">@variant.Value</td>
                                </tr>
                            }
                        }
                    }
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Versand</td>
                        <td>@Model.ShipPriceName</td>
                        <td>1</td>
                        <td>@Model.ShipPrice</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Gesamt</td>
                        <td></td>
                        <td>@Model.OrderTotal</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
	

	<h4>Lieferadresse</h4>
	<p>@Model.OrderShippingAddress.FirstName @Model.OrderShippingAddress.LastName</p>
	@if (!string.IsNullOrWhiteSpace(Model.OrderShippingAddress.CompanyName))
	{
		<p>@Model.OrderShippingAddress.CompanyName</p>
	}
	<p>@Model.OrderShippingAddress.Address</p>
	<p>@Model.OrderShippingAddress.AdditionalAddress</p>
	<p>@Model.OrderShippingAddress.PostCode @Model.OrderShippingAddress.City</p>
	<p>@Model.OrderShippingAddress.CountryName</p>
	<br />
	<br />
	<h4>Rechnungsadresse</h4>
	<p>@Model.OrderInvoiceAddress.FirstName @Model.OrderInvoiceAddress.LastName</p>
	@if (!string.IsNullOrWhiteSpace(Model.OrderInvoiceAddress.CompanyName))
	{
		<p>@Model.OrderInvoiceAddress.CompanyName</p>
	}
	<p>@Model.OrderInvoiceAddress.Address</p>
	<p>@Model.OrderInvoiceAddress.AdditionalAddress</p>
	<p>@Model.OrderInvoiceAddress.PostCode @Model.OrderInvoiceAddress.City</p>
	<p>@Model.OrderInvoiceAddress.CountryName</p>
</div>

<!-- BEGIN - EasyReviews Addon | www.shopvote.de -->
<div id="srt-customer-data" style="display:none;">
	<span id="srt-customer-email">@Model.Email</span>
	<span id="srt-customer-reference">@Model.OrderNo</span>
</div>
<!-- END - EasyReviews Addon | www.shopvote.de -->
<!-- BEGIN - EasyReviews Addon | www.shopvote.de -->
<script src="https://feedback.shopvote.de/srt-v3.min.js"></script>
<script type="text/javascript">
	var myToken = "9e696696afdfc1798d3f657f8b708094";
	var mySrc = ('https:' === document.location.protocol ? 'https' : 'http');
	loadSRT(myToken, mySrc);
</script>
<!-- END - EasyReviews Addon | www.shopvote.de -->
