@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<MarelibuSoft.WebStore.Models.ViewModels.NavItemViewModel>
		@foreach (var item in Model)
		{
			<li>
				<a href="#" data-toggle="dropdown" class="dropdown-toggle">@item.Name</a>
				<ul id="main_@item.Name@item.Id" class="dropdown-menu multi-level">
					<li>
					<a href="@Url.Action("Kategorie", "Produkte", new { categoryId = item.SlugUrl })">@Html.DisplayFor(modelItem => item.Name)</a>
					</li>
					@if (item.Childs != null && item.Childs.Count > 0)
					{
						@foreach (var sub in item.Childs)
						{
							<li><a href="@Url.Action("Kategorie", "Produkte", new { categoryId = item.SlugUrl, categorySubId = sub.SlugUrl })"> &ensp;@Html.DisplayFor(modelItem => sub.Name)</a></li>
							@if (sub.Childs != null && sub.Childs.Count > 0)
							{
								@foreach (var details in sub.Childs)
								{
									<li><a href="@Url.Action("Kategorie", "Produkte", new { categoryId = item.SlugUrl, categorySubId = sub.SlugUrl, categoryDetailId = details.SlugUrl })">&emsp;@Html.DisplayFor(modelItem => details.Name)</a></li>
								}
							}
						}
					}
				</ul>
			</li>
		}