@model MarelibuSoft.WebStore.Models.CategoryDetail

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Detail-Kategorie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sub)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sub.Name)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.ID">Bearbeiten</a> |
    <a  class="btn btn-primary" asp-action="Index">zur &Uuml;bersicht</a>
</div>
