
@model MarelibuSoft.WebStore.Models.CategorySub

@{
	ViewData["Title"] = "Unterkategorie";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>@Model.Name</h4>
    <hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Category)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Category.Name)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Details)
		</dt>
		<dd>

			@if (Model.Details.Count > 0)
			{
				<ul>
					@foreach (CategoryDetail item in Model.Details)
					{
						<li>
							@Html.DisplayFor(modelItem => item.Name)
						</li>
					}
				</ul>
			}
			else
			{
				<ul><li>Keine Detail-Kategorien vorhanden</li></ul>

			}
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.SeoDescription)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.SeoDescription)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.SeoKeywords)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.SeoKeywords)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.HtmlDescription)
		</dt>
		<dd>
			@Html.Raw(Model.HtmlDescription)
		</dd>
	</dl>
</div>
<div>
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.ID">Bearbeiten</a><br />
	<a class="btn btn-success" asp-area="Admin" asp-controller="CategoryDetails" asp-action="Create" asp-route-id="@Model.ID">Detail-Kategorie</a>
    <a class="btn btn-primary" asp-action="Index">zur &Uuml;bersicht</a>
</div>
