@model MarelibuSoft.WebStore.Areas.Admin.Models.AdminViewModels.OrderViewModel

@{
	ViewData["Title"] = "Details";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
	<h4>Auftrag</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Number)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Number)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.OrderDate)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.OrderDate)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Payment)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Payment)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.IsPayed)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.IsPayed)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.IsSend)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.IsSend)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Shippingdate)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Shippingdate)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.IsClosed)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.IsClosed)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.EMail)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.EMail)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.CustomerFirstName)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CustomerFirstName)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.CutomerLastName)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CutomerLastName)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.ExceptLawConditions)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.ExceptLawConditions)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.ShippingPriceName)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.ShippingPriceName)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.ShippingPriceAtOrder)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.ShippingPriceAtOrder)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.ShippingPeriodString)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.ShippingPeriodString)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Total)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Total)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.FreeText)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.FreeText)
		</dd>
	</dl>
</div>
<h4>Auftragspositionen</h4>
<div class="table table-bordered">
	<div class="row">
		<div class="col-md-1">
			<strong>Position</strong>
		</div>
		<div class="col-md-1">
			<strong>Artikelbild</strong>
		</div>
		<div class="col-md-1">
			<strong>Artikel-Nr.</strong>
		</div>
		<div class="col-md-1">
			<strong>Artikelname</strong>
		</div>
		<div class="col-md-1">
			<strong>Arikelpreis</strong>
		</div>
		<div class="col-md-1">
			<strong>Menge</strong>
		</div>
		<div class="col-md-1">
			<strong>Betrag</strong>
		</div>
	</div>
	@foreach (var item in Model.OderLines)
	{
		<div class="row">
			<div class="col-md-1">
				<p id="@item.ID" class="hidden">@item.ID</p>
				<p>@item.Position</p>
			</div>
			<div class="col-md-1">
				<img src="~/images/store/@item.Image" width="50" height="50" />
			</div>
			<div class="col-md-1">
				<p>@item.ProductNumber</p>
			</div>
			<div class="col-md-1">
				<p>@item.ProductName</p>
			</div>
			<div class="col-md-1">
				<p>@Math.Round(item.OrderPrice, 2) &euro;</p>
			</div>
			<div class="col-md-1">
				<p>@Math.Round(item.OrderQuantity, 2) @item.OrderUnit</p>
			</div>
			<div class="col-md-1">
				<p>@Math.Round(item.OrderLineTotal, 2) &euro;</p>
			</div>
		</div>
	}
</div>
<h4>Liefern an</h4>
<dl class="dl-horizontal">
	<dt>
		@Html.DisplayNameFor(shipping => shipping.ShippToAddress.FirstName)
	</dt>
	<dd>
		@Html.DisplayFor(shipping => shipping.ShippToAddress.FirstName)
	</dd>
	<dt>
		@Html.DisplayNameFor(shipping => shipping.ShippToAddress.LastName)
	</dt>
	<dd>
		@Html.DisplayFor(shipping => shipping.ShippToAddress.LastName)
	</dd>
	<dt>
		@Html.DisplayNameFor(shipping => shipping.ShippToAddress.Address)
	</dt>
	<dd>
		@Html.DisplayFor(shipping => shipping.ShippToAddress.Address)
	</dd>
	<dt>
		@Html.DisplayNameFor(shipping => shipping.ShippToAddress.AdditionalAddress)
	</dt>
	<dd>
		@Html.DisplayFor(shipping => shipping.ShippToAddress.AdditionalAddress)
	</dd>
	<dt>
		@Html.DisplayNameFor(shipping => shipping.ShippToAddress.FirstName)
	</dt>
	<dd>
		@Html.DisplayFor(shipping => shipping.ShippToAddress.FirstName)
	</dd>
	<dt>
		@Html.DisplayNameFor(shipping => shipping.ShippToAddress.PostCode)
	</dt>
	<dd>
		@Html.DisplayFor(shipping => shipping.ShippToAddress.PostCode)
	</dd>
	<dt>
		@Html.DisplayNameFor(shipping => shipping.ShippToAddress.City)
	</dt>
	<dd>
		@Html.DisplayFor(shipping => shipping.ShippToAddress.City)
	</dd>
	<dt>
		@Html.DisplayNameFor(shipping => shipping.ShippToAddress.CountryName)
	</dt>
	<dd>
		@Html.DisplayFor(shipping => shipping.ShippToAddress.CountryName)
	</dd>
</dl>

<h4>Rechnung an</h4>
<dl class="dl-horizontal">
	<dt>
		@Html.DisplayNameFor(invoice => invoice.InvoiceAddress.FirstName)
	</dt>
	<dd>
		@Html.DisplayFor(invoice => invoice.InvoiceAddress.FirstName)
	</dd>
	<dt>
		@Html.DisplayNameFor(invoice => invoice.InvoiceAddress.LastName)
	</dt>
	<dd>
		@Html.DisplayFor(invoice => invoice.InvoiceAddress.LastName)
	</dd>
	<dt>
		@Html.DisplayNameFor(invoice => invoice.InvoiceAddress.Address)
	</dt>
	<dd>
		@Html.DisplayFor(invoice => invoice.InvoiceAddress.Address)
	</dd>
	<dt>
		@Html.DisplayNameFor(invoice => invoice.InvoiceAddress.AdditionalAddress)
	</dt>
	<dd>
		@Html.DisplayFor(invoice => invoice.InvoiceAddress.AdditionalAddress)
	</dd>
	<dt>
		@Html.DisplayNameFor(invoice => invoice.InvoiceAddress.FirstName)
	</dt>
	<dd>
		@Html.DisplayFor(invoice => invoice.InvoiceAddress.FirstName)
	</dd>
	<dt>
		@Html.DisplayNameFor(invoice => invoice.InvoiceAddress.PostCode)
	</dt>
	<dd>
		@Html.DisplayFor(invoice => invoice.InvoiceAddress.PostCode)
	</dd>
	<dt>
		@Html.DisplayNameFor(invoice => invoice.InvoiceAddress.City)
	</dt>
	<dd>
		@Html.DisplayFor(invoice => invoice.InvoiceAddress.City)
	</dd>
	<dt>
		@Html.DisplayNameFor(invoice => invoice.InvoiceAddress.CountryName)
	</dt>
	<dd>
		@Html.DisplayFor(invoice => invoice.InvoiceAddress.CountryName)
	</dd>
</dl>

<div>
	@*<a asp-action="Edit" asp-route-id="@Model.ID">Bearbeiten</a> |*@
	<div class="row">
		<div class="col-md-12 col-lg-12">
			<form asp-action="MarkPayed">
				<input type="hidden" asp-for="ID" value="@Model.ID" />
				<input type="hidden" asp-for="StateViewModel.ID" value="@Model.ID" name="ID" />
				<input type="hidden" asp-for="StateViewModel.StateAction" value="MarkPayed" name="StateAction" />
				<div class="form-group">
					<input type="submit" value="Als Bezahlt makieren" class="btn btn-success" />
				</div>
			</form>
		</div>
	</div>
	<hr />
	<h4>Versand-Email</h4>
	<div class="row">
		<div class="col-lg-12 col-md-12">
			<form asp-action="SendEmail">
				<input type="hidden" asp-for="ID" value="@Model.ID" />
				<input type="hidden" asp-for="StateViewModel.ID" value="@Model.ID" name="ID" />
				<input type="hidden" asp-for="StateViewModel.StateAction" value="SendEmail" name="StateAction" />
				<div class="form-group">
					<textarea asp-for="StateViewModel.Message" class="text" name="Message" rows="5"></textarea>
				</div>
				<div class="form-group">
					<input type="submit" value="Senden" class="btn btn-success" />
				</div>
			</form>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-4">
			<form asp-action="MarkClosed">
				<input type="hidden" asp-for="ID" value="@Model.ID" />
				<input type="hidden" asp-for="StateViewModel.ID" value="@Model.ID" name="ID" />
				<input type="hidden" asp-for="StateViewModel.StateAction" value="MarkClosed" name="StateAction" />
				<div class="form-group">
					<input type="submit" value="Als abgeschlossen makieren" class="btn btn-success" />
				</div>
			</form>
		</div>
	</div>

	<a class="btn btn-default" asp-action="Index">zur&uuml;ck zur &Uuml;bersicht</a>
</div>
