@model IEnumerable<MarelibuSoft.WebStore.Models.SellAction>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Neue Aktion</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Percent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Percent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.SellActionID"><i class="fa fa-edit" title="bearbeiten"></i></a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.SellActionID"><i class="fa fa-file" title="Details"></i></a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.SellActionID"><i class="fa fa-trash" title="löschen"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
