@model IEnumerable<MarelibuSoft.WebStore.Models.ViewModels.CustomerIndexOrderViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Meine Bestellungen</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orderdate)
            </th>
			<th>
				@Html.DisplayNameFor(model => model.OrderState)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TrackingNumber)
			</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orderdate)
            </td>
            @if (item.OrderState.Equals("Storniert"))
            {
            <td class="text-danger">
                @Html.DisplayFor(modelItem => item.OrderState)
            </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.OrderState)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.TrackingNumber)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
